* {
  user-select: none;
}

:root {
  --dark-blue: #0a2463;
  --light-blue: #247ba0;
  --red: #fb3640;
  --dark-grey: #605f5e;
  --light-grey: #e2e2e2;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--dark-blue);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-machine {
  flex-basis: 68%;
  background: var(--dark-grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 0.5rem;
}

/* StepRow */
.step-row {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.step-row--selected {
  background: var(--light-blue);
}

.step-row__title {
  margin-right: 0.2em;
  width: 60px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.step-row__title--playing {
  background: var(--red);
  transition: none;
}

.step-row__steps {
  flex-basis: 100%;
  display: flex;
}

.step-row__button {
  font-size: 1.8rem;
  padding: 0;
  margin: 0 1rem;
  background: 0;
  border: 0;
}

/* StepButton */
.step-button {
  background: var(--white);
  border: 0;
  margin: 0.2rem 0.3rem;
  flex-basis: 100%;
  height: 35px;
}

.step-button--active {
  background: var(--dark-blue);
}

/* StepIndicatorRow */
.step-indicator-row {
  flex-basis: 100%;
  display: flex;
}

.step-indicator {
  background: var(--white);
  border: 0;
  flex-basis: 100%;
  margin: 0.3rem;
  min-width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--dark-grey);
}

.step-indicator--active {
  background: var(--dark-blue);
}

.hide {
  visibility: hidden;
}

/* Controls */
.controls {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0.5rem;
}

.controls__left {
  display: flex;
  margin-left: 60px;
  margin-top: auto;
}

.controls__right {
  background: var(--light-blue);
  display: flex;
}

.controls__rotary-container {
  font-size: 0.9rem;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0;
  background: 0;
  border: 0;
  margin-right: 5px;
}

.controls__button--recording {
  color: var(--red);
}

.controls__bpm {
  font-size: 1.1rem;
  color: var(--white);
}

.controls__shuffle-button {
  align-self: flex-end;
  padding: 0;
  margin: 0 5px;
  font-size: 2rem;
}

.hidden {
  display: none;
}
