.controls {
	flex-basis: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em 0 0 0;
}

.controls__button {
	font-size: 1.8rem;
	padding: 0.5rem;
	margin: 0 0.3rem;
	background: 0;
	border: 0;
}

.controls__button--recording {
	color: red;
}

.controls__bpm {
	font-size: 1.5rem;
	color: #fff;
}

.hidden {
	display: none;
}