.Machine {
    background: #dadbdc;
    flex-basis: 80%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.controls-container {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 130px;
}