.step-indicator-row {
	flex-basis: 100%;
	display: flex;
}

.step-indicator {
	background: #fff;
	border: 0;
	flex-basis: 100%;
	margin: 0.3rem;
	min-width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8em;
	color:#DC143C;
}

.step-indicator--active {
  background: #004;
}

.hide {
	visibility: hidden;
}